/*//Colors
$primary: #D9D9D9; 
$secondary: #2400FF;
$white: #ffffff;
$black: #000000;

//Navbar
$navbar-brand-font-size: 2rem;
$navbar-padding-x: 0;
$navbar-padding-y: 0;
$navbar-light-active-color: $white;
$navbar-light-brand-hover-color: $black;
$navbar-light-brand-color: $black;
$navbar-light-color: $black;
*/
